# folders
t1_confection/A2_Output_Params
t1_confection/Executables
config_main_files
Concatenate_otoole_outputs

# Excel files
t1_confection/_GDP_Ref.xlsx
t1_confection/A2_Structure_Lists.xlsx
t1_confection/requirements
t1_confection/COSTS_ENERGY_BE_Anualized.csv
t1_confection/Discounted_Rate.xlsx
t1_confection/RELAC_TX_Combined_Inputs_Outputs.csv
t1_confection/RELAC_TX_Inputs.csv
t1_confection/RELAC_TX_Outputs.csv

# Python scripts
t1_confection/setup_utils.py
t1_confection/maxcapacity.py
concatenate_files/test_inputs.py

# Pickle files
t1_confection/Blend_Shares_0.pickle

# figs
RELAC_cambiarporfecha.twbx

# logs
t1_confection/cplex.log
t1_confection/clone1.log
t1_confection/clone2.log
t1_confection/gurobi.log

# guides
RELAC_TX_Guia_instalacion_ejecucion.pdf